stages:
  - build
  - test
  - push
  - deploy

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"

build:
  stage: build
  script:
    - docker build -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME" .

test:
  stage: test
  script:
    - docker-compose run web python manage.py test

push:
  stage: push
  script:
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME"

deploy:
  stage: deploy
  environment:
    name : runner-1
  script:
    - docker-compose pull
    - docker-compose down
    - docker-compose up -d
